h1{
  text-align: center;
  color:#c31fbe;
  border-bottom:solid;
  border-bottom-color:blue;
}
h2{
  text-align: left;
  border-bottom-width:1px;
  border-bottom-style: dotted;
  border-bottom-color:#d10b0b;
}

#
